.gradient-background {
    background: linear-gradient(300deg, #344966, #b4cded, #2C3E4D);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }


.background {
    background: #27384f
    }

.font{
    font-family: "Lucida Console", "Courier New", monospace;
}

.header_font{
    color:aliceblue;

    
}

.center_al{
    text-align:center
}

.size {
    font-size: 20px;
    font-weight:400;
}


.standing_out{
    background: #1c2838
}

.darker_blue{
    background: #93a4ba;
}

.padding{
    margin-left: 80px
}

h3{
    color:aliceblue;
}

.margin{
    margin: 0
}
